<div class="listItem">
	<div class="description">
		<img [src]="orderItem.imageUrl" alt="dish" />

		<div class="text">
			<h3>{{ orderItem.name | truncate : [20, '...'] }}</h3>
			<h3>{{ orderItem.dishPrice | currency }}</h3>
		</div>
	</div>

	<form class="portions">
		<input
			min="1"
			type="number"
			name="portions"
			[placeholder]="orderItem.portions"
			[max]="orderItem.available"
			[value]="orderItem.portions"
		/>
	</form>

	<h4 class="total">{{ orderItem.totalPrice | currency }}</h4>

	<form class="comment">
		<input name="comment" type="text" [placeholder]="orderItem.comment || 'Order Note...'" />
	</form>

	<button class="border border-danger rounded" (click)="removeFromOrder()">
		<app-svg-icon src="assets/icons/TrashCan.svg"></app-svg-icon>
	</button>
</div>
